body {
    margin: 0;
    background: #0f172a;
    color: white;
    font-family: Arial;
}

.center {
    text-align: center;
    padding-top: 100px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background: #00ff99;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    display: flex;
    padding: 30px;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
    padding-left: 30px;
}