<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="container">

    <div class="left">
        <h2>Live EMG Signal</h2>
        <canvas id="emgChart"></canvas>
    </div>

    <div class="right">
        <h2>ML Control Panel</h2>

        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Analyze File</button>
        </form>

        <br>

        <button onclick="startLive()">Start Live</button>
        <button onclick="stopLive()">Stop</button>

        <h3>RMS: <span id="rmsValue">0</span></h3>
        <h3>State: <span id="stateValue">Waiting</span></h3>
    </div>

</div>

<script>

let ctx = document.getElementById("emgChart");
let data = Array(100).fill(0);
let buffer = [];
let interval = null;

let chart = new Chart(ctx, {
    type: "line",
    data: {
        labels: Array(100).fill(""),
        datasets: [{
            label: "EMG",
            data: data,
            borderColor: "lime",
            borderWidth: 2,
            tension: 0.2
        }]
    },
    options: {
        animation: false,
        scales: { y: { min: 0, max: 1 } }
    }
});

function updateGraph(val){
    data.shift();
    data.push(val);
    chart.update();
}

function generateSignal(){
    let val = Math.random()*0.2;
    if(Math.random() > 0.97){
        val = 0.8 + Math.random()*0.2;
    }

    updateGraph(val);

    buffer.push(val);
    if(buffer.length > 20){
        buffer.shift();
    }

    sendLive();
}

function sendLive(){
    fetch("/predict_live", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({values: buffer})
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("rmsValue").innerText = data.rms.toFixed(3);
        document.getElementById("stateValue").innerText = data.state;
    });
}

function startLive(){
    if(interval === null){
        interval = setInterval(generateSignal, 200);
    }
}

function stopLive(){
    clearInterval(interval);
    interval = null;
}

document.getElementById("uploadForm").onsubmit = function(e){
    e.preventDefault();

    let formData = new FormData(this);

    fetch("/predict_file", {
        method: "POST",
        body: formData
    })
    .then(res => res.json())
    .then(data => {
        if(data.error){
            alert(data.error);
            return;
        }
        document.getElementById("rmsValue").innerText = data.rms.toFixed(3);
        document.getElementById("stateValue").innerText = data.state;
    });
};

</script>

</body>
</html>